ol li {
    background-color: yellow;
}

ol li:nth-of-type(2n) {
    color: green;
}

ol li:nth-of-type(2n+1) {
    text-transform: uppercase;
}

.h-title {
    color: red;
}

.h-title em {
    font-size: 40px;
    border: 1px solid black;
}
