* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgb(93, 96, 99);
  background-color: rgb(234, 237, 240);
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.title {
  text-align: center;
}

.box-style {
  background-color: rgb(246, 247, 248);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 3px;
  width: 80%;
  padding: 50px;
  margin: 40px auto;
}

fieldset {
  padding: 10px;
  margin-bottom: 15px;
}

.line-content {
  margin: 12px;
  display: inline-block;
}

#name {
  width: 250px;
}

#email {
  width: 300px;
}

#cpf {
  width: 150px;
}

#address {
  width: 510px;
}

button {
  padding: 7px;
  border-radius: 15px;
}